<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({
        title: 'Product Groups',
        icon: ''
      });
    });
  </script>
<% end %>

<h2>Product Groups</h2>

<ul>
  <% @product_groups.each do |group| %>
    <li><%= link_to group.name, group %></li>
  <% end %>
</ul>
