Hey This is the gallery slim.

h2
  = @current_shop.shopify_products.map{|x|[x.name, x.image_url]}

h1
  Current shop
  = @current_shop

javascript:
  var loadScript = function(url, callback){
    var script = document.createElement("script")
    script.type = "text/javascript";
 
    if (script.readyState){  //IE
        script.onreadystatechange = function(){
            if (script.readyState == "loaded" ||
                    script.readyState == "complete"){
                script.onreadystatechange = null;
                callback();
            }
        };
    } else {  //Others
        script.onload = function(){
            callback();
        };
    }
 
    script.src = url;
    document.getElementsByTagName("head")[0].appendChild(script);
    /* JavaScript that will load the jQuery library on Google's CDN.
       We recommend this code: http://snipplr.com/view/18756/loadscript/.
       Once the jQuery library is loaded, the function passed as argument,
       callback, will be executed. */

  };

  var myAppJavaScript = function($){
    var products_json   = #{raw @current_shop.shopify_products.to_json};
    console.debug(products_json);

    if($('.toptal-product-slider').size() != 0){
      console.debug('Container Div is detected.');
    }

    /* Your app's JavaScript here.
       $ in this scope references the jQuery object we'll use.
       Don't use 'jQuery', or 'jQuery191', here. Use the dollar sign
       that was passed as argument.*/
    $('body').append('<p>Your app is using jQuery version '+$.fn.jquery+'</p>');
  };

  if ((typeof jQuery === 'undefined') || (parseFloat(jQuery.fn.jquery) < 1.7)) {
    loadScript('//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js', function(){
      jQuery191 = jQuery.noConflict(true);
      myAppJavaScript(jQuery191);
    });
  } else {
    myAppJavaScript(jQuery);
  }
